/* line 1, C:/wamp64/www/4gt6/style.scss */
body {
  background: #222222;
  color: white;
  font-family: sans-serif; }

/* line 6, C:/wamp64/www/4gt6/style.scss */
.header {
  background-image: linear-gradient(#3a3a3a, #363636);
  height: 30px;
  padding: 6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 30px;
  padding-left: 10px; }

/* line 17, C:/wamp64/www/4gt6/style.scss */
.left-tool-bar {
  background: #333333;
  position: absolute;
  top: 43px;
  left: 0;
  bottom: 0;
  width: 28px;
  padding: 5px; }
  /* line 25, C:/wamp64/www/4gt6/style.scss */
  .left-tool-bar button {
    width: 28px;
    height: 28px;
    background: transparent;
    color: white;
    border: none;
    font-size: 18px;
    transition: 0.25s;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px; }
    /* line 36, C:/wamp64/www/4gt6/style.scss */
    .left-tool-bar button:hover {
      background: #4d4d4d; }
    /* line 39, C:/wamp64/www/4gt6/style.scss */
    .left-tool-bar button.active {
      background: #1d1d1d; }

/* line 46, C:/wamp64/www/4gt6/style.scss */
.right-tool-bar {
  background: #333333;
  position: absolute;
  top: 43px;
  right: 0;
  bottom: 0;
  width: 235px;
  padding: 15px;
  overflow: auto; }

/* line 56, C:/wamp64/www/4gt6/style.scss */
.color-view {
  border-radius: 3px;
  overflow: hidden;
  background: gray;
  height: 125px;
  width: 100%; }

/* line 65, C:/wamp64/www/4gt6/style.scss */
.color-picker {
  width: 25px;
  border: none;
  height: 25px;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer; }

/* line 73, C:/wamp64/www/4gt6/style.scss */
.container {
  background: #3b3b3b;
  margin-top: 10px;
  border-radius: 3px;
  overflow: hidden; }
  /* line 79, C:/wamp64/www/4gt6/style.scss */
  .container .options {
    margin: 0;
    padding: 0;
    background: #2b2b2b; }
    /* line 82, C:/wamp64/www/4gt6/style.scss */
    .container .options span {
      display: inline-block;
      margin: 5px;
      margin-right: 10px;
      padding: 5px;
      padding-left: 8px;
      padding-right: 8px;
      cursor: pointer;
      transition: 0.25s;
      border-radius: 3px; }
      /* line 91, C:/wamp64/www/4gt6/style.scss */
      .container .options span:hover {
        background: #333333; }
      /* line 95, C:/wamp64/www/4gt6/style.scss */
      .container .options span.active {
        background: dimgray; }
  /* line 103, C:/wamp64/www/4gt6/style.scss */
  .container .layer-function-view {
    max-height: 300px;
    overflow: auto;
    padding: 8px;
    padding-bottom: 30px;
    position: relative; }
    /* line 109, C:/wamp64/www/4gt6/style.scss */
    .container .layer-function-view .layer {
      background: transparent;
      border: 1px solid #464646;
      padding: 8px;
      border-radius: 4px;
      margin-bottom: 6px;
      cursor: pointer;
      transition: 0.25s; }
      /* line 114, C:/wamp64/www/4gt6/style.scss */
      .container .layer-function-view .layer .preview {
        display: inline-block;
        height: 25px;
        width: 25px;
        background: crimson;
        vertical-align: middle; }
      /* line 121, C:/wamp64/www/4gt6/style.scss */
      .container .layer-function-view .layer button {
        display: inline-block;
        height: 25px;
        width: 25px;
        background: transparent;
        border: none;
        vertical-align: middle;
        color: gray;
        float: right;
        cursor: pointer;
        transition: 0.25s; }
        /* line 132, C:/wamp64/www/4gt6/style.scss */
        .container .layer-function-view .layer button:hover {
          color: white; }
      /* line 136, C:/wamp64/www/4gt6/style.scss */
      .container .layer-function-view .layer span {
        display: inline-block;
        vertical-align: middle;
        padding-left: 8px;
        max-width: 120px;
        max-height: 18px;
        overflow: hidden; }
      /* line 147, C:/wamp64/www/4gt6/style.scss */
      .container .layer-function-view .layer:hover {
        background: rgba(255, 255, 255, 0.15); }
  /* line 153, C:/wamp64/www/4gt6/style.scss */
  .container .view {
    padding: 8px;
    padding-bottom: 30px;
    position: relative; }
    /* line 157, C:/wamp64/www/4gt6/style.scss */
    .container .view input {
      max-width: 40px;
      border: 1px solid #272727;
      background: #404040;
      color: white; }
  /* line 165, C:/wamp64/www/4gt6/style.scss */
  .container .apply {
    background: #464646;
    color: white;
    border: none;
    padding: 6px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 4px;
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    transition: 0.25s;
    cursor: pointer; }
    /* line 178, C:/wamp64/www/4gt6/style.scss */
    .container .apply:hover {
      background: rgba(255, 255, 255, 0.15); }

/* line 185, C:/wamp64/www/4gt6/style.scss */
.draw-area {
  position: absolute;
  top: 43px;
  right: 270px;
  left: 43px;
  bottom: 2px;
  background: #fafafa;
  overflow: auto; }
  /* line 191, C:/wamp64/www/4gt6/style.scss */
  .draw-area .canvas {
    position: absolute;
    background: transparent;
    top: 0;
    width: 400%;
    height: 400%;
    left: 0;
    margin: 0;
    padding: 0; }
    /* line 198, C:/wamp64/www/4gt6/style.scss */
    .draw-area .canvas canvas {
      margin: 0;
      padding: 0;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%; }

/* line 209, C:/wamp64/www/4gt6/style.scss */
.action {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #3b3b3b;
  width: 500px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  height: 300px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.55); }
  /* line 221, C:/wamp64/www/4gt6/style.scss */
  .action .action-header {
    width: 100%;
    margin: 0;
    padding: 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-bottom: 5px solid #333333; }
  /* line 230, C:/wamp64/www/4gt6/style.scss */
  .action .action-content {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 5px;
    overflow: auto;
    padding: 25px; }
  /* line 238, C:/wamp64/www/4gt6/style.scss */
  .action .btn-group {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 5px; }
    /* line 242, C:/wamp64/www/4gt6/style.scss */
    .action .btn-group button {
      margin: 3px;
      background: linear-gradient(#515151, #363636);
      color: white;
      padding: 8px;
      border: none;
      cursor: pointer;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      transition: 0.45s; }
      /* line 252, C:/wamp64/www/4gt6/style.scss */
      .action .btn-group button:hover {
        background: linear-gradient(#919191, #767676); }

/*# sourceMappingURL=style.css.map */